*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
}

html {
  font-size: 10px;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  min-height: 600px;
  background: url(../img/main-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.main-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
  background-image: -moz-linear-gradient(150deg,
      rgb(136, 211, 206) 0%,
      rgb(110, 69, 226) 100%);
  background-image: -webkit-linear-gradient(150deg,
      rgb(136, 211, 206) 0%,
      rgb(110, 69, 226) 100%);
  background-image: -ms-linear-gradient(150deg,
      rgb(136, 211, 206) 0%,
      rgb(110, 69, 226) 100%);
}

.header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
  z-index: 2;
}

.menu {
  width: 65%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu-link {
  padding-bottom: 12px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.get-started-btn {
  margin-left: 80px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
}

.get-started-btn:hover {
  color: #e7d532;
  border-color: #e7d532;
  border-bottom: none;
}

.menu-link:hover {
  border-bottom: 2px solid #e7d532;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
}

.main-text span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.main-text span::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.main-text span::before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.main-text h1 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
  color: #ffffff;
  font-size: 86px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -2.42px;
}

.main-text p {
  width: 400px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.main-arrow {
  position: relative;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.arrow-down {
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.table-subtitle {
  color: #9fa4af;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.table-subtitle::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.table-subtitle::before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.table {
  background-color: #f9fafc;
  height: 1150px;
  min-height: 600px;
  padding-top: 60px;
}

.table-header {
  text-align: center;
}

.table-header h2 {
  margin: 0;
  color: #4f4f6f;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.69px;
}

.table-header p {
  margin-bottom: 80px;
  display: inline-block;
  width: 400px;
  color: #9fa4af;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.price-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  margin: auto;
}

.price-tag {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 33%;
  margin-left: 50px;
  /*height: 500px;*/
  border-radius: 30px;
  background-color: #fff;
  transition: 0.5s;
}

.price-tag:hover {
  box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
  cursor: pointer;
}

.price-tag span {
  padding-top: 40px;
  padding-bottom: 5px;
  color: #9fa4af;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.price-tag h4 {
  color: #4f4f6f;
  margin: 0;
  font-weight: 500;
  font-size: 60px;
}

.price-tag h4 sup {
  vertical-align: super;
  color: #4f4f6f;
  font-size: 16px;
  font-weight: 500;
  line-height: 50.55px;
  letter-spacing: -0.64px;
}

.price-tag h4 sub {
  color: #4f4f6f;
  font-size: 18px;
  font-weight: 500;
}

.price-tag p {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #9fa4af;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.price-btn {
  padding: 5px 45px;
  border-radius: 25px;
  background-color: #ffffff;
  border: 1px solid #d7dbe8;
  color: #6e45e2;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.2s;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.price-btn:hover {
  border: 1px solid #ffffff;
  background-color: #6e45e2;
  color: #ffffff;
  cursor: pointer;
}

.call-to-action {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
  background-color: #f9fafc;
  background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
  color: #ffffff;
}

.call-to-action-overlay {
  width: 1440px;
  margin: 0 auto;
  background: url(../img/map.png) no-repeat center;
  background-size: cover;
  padding-top: 30px;
  padding: 15rem;
  text-align: center;
}

.call-to-action span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.call-to-action h4 {
  margin: 0;
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.69px;
}

.cta-btn {
  margin-top: 20px;
  margin-left: 20px;
  width: 190px;
  height: 50px;
  display: inline-block;
  border: none;
  box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  border-radius: 25px;
  border: 1px solid #d7dbe8;
  background-color: #ffffff;
  color: #c2c9db;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.2s;
}

.cta-btn:hover {
  cursor: pointer;
  background-color: #6e45e2;
  border: none;
  color: #ffffff;
}

.footer-wrap {
  display: flex;
  justify-content: center;
}

.footer {
  width: 90%;
  height: 12vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  width: 65%;
}

.footer-menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-menu-link {
  color: #6a6a77;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-decoration: none;
}

.footer-started-btn {
  color: #fff;
  margin-left: 80px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #d7dbe8;
  background-color: #6e45e2;
  transition: 0.2s;
}

.footer-started-btn:hover {
  color: #6e45e2;
  border-color: #6e45e2;
  background-color: #fff;
}

.footer-menu-link:hover {
  color: #6e45e2;
}

.line {
  display: block;
  width: 90%;
  height: 1px;
  background-color: #bdbdc2;
  opacity: 0.2;
  margin: 1rem auto;
}

.legal {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  opacity: 0.5;
  color: #6a6a77;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.social-links a {
  margin-right: 1.5rem;
  opacity: 0.5;
  color: #b5b5bb;
  font-family: "Font Awesome";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  display: inline-block;
}

.m-menu-link {
  display: none;
  color: #fff;
  font-size: 3rem;
}

.m-menu {
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  list-style: none;
  font-size: 3rem;
  line-height: 2;
  background-color: #6e45e2;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transform: translate(100%);
}

.m-menu__active {
  transform: translate(0%);
}

.close-menu {
  position: fixed;
  right: 6.5rem;
  top: 0rem;
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
}

.close-menu:hover {
  cursor: pointer;
}